*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}

p{
    font-size: 16px;
}

.flex{
    display: flex;
}

.body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
}

.container{
    width: 450px;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(235,234,244,1) 0%, rgba(255,44,61,0.8885679271708683) 0%, rgba(136,118,223,1) 0%, rgba(37,27,230,1) 0%, rgba(113,84,252,1) 0%, rgba(236,242,204,1) 100%, rgba(230,231,11,1) 100%, rgba(235,237,174,1) 100%, rgba(210,215,211,1) 100%, rgba(214,241,231,1) 100%, rgba(208,241,218,1) 100%, rgba(227,217,233,1) 100%, rgba(242,200,234,1) 100%, rgba(251,106,118,1) 100%, rgba(242,233,234,1) 100%, rgba(250,243,243,0.6252626050420168) 100%);
    padding: 20px;
    border-radius: 20px;
}

.search-div{
    gap: 5%;
}


.search-input{
    width: 85%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    outline: 0;
}

.search-btn{
    width: 10%;
    text-align: center;
    background: transparent;
    border: none;
}

.search-btn img{
    width: 100%;
}

.description-section{
    padding-block: 15px;
}

.weather-img{
    width: 100%;
    text-align: center;
}

.weather-img img{
    height: 160px;
}

.description-div{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.details-section{
    justify-content: space-evenly;
    margin-top: 30px;
}

.humidity, .wind{
    text-align: center;
}

.humidity img{
    width: 30px;
}

.wind img{
    width: 30px;
}
