@media screen and (max-width: 825px){
    .contact-container{
        flex-direction: column;
    }
    .form-div{
        flex-basis: 100%;
    }
    .connect-div{
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    .about-container{
        flex-direction: column;
        gap: 40px;
        padding-inline: 55px;
    }

    .hamburger{
        display: block;
    }

    .cross{
        display: block;
    }

    .ul{
        position: fixed;
        right: -200%;
        background-color:#131212;
        width: 60vw;
        height: 100vh;
        top: 0;
        flex-direction: column;
        z-index: 10;
    }

    h1{
        font-size: 2rem;
    }


    .about-container, .work-container, .project-container, .contact{
        padding-inline: 20px;
    }

    .signature{
        width: 130px;
    }

    .hero-text{
        padding: 60px 20px 0 20px;
    }

    .work-list, .project-list {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
   
    }

    .nav-container{
        padding-inline: 10px 0 15px;
    }

    .form-div{
        padding: 15px;
    }

    .work-list div{
        padding: 18px;
    }

}